* {
    font-family: 'Poppins', sans-serif;
}

body {
    color: #102D50 !important;
    transition: all 0.5s;
}


/* Home */

.container {
    transition: all 0.5s;
}

body>section {
    min-height: 100vh;
}

.buttonGroup {
    display: flex;
    justify-content: center;
}

.jumbotron {
    box-shadow: rgba(0, 0, 0, .1) 0 10px 10px;
    -moz-box-shadow: rgba(0, 0, 0, .1) 0 10px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, .1) 0 10px 10px;
    -o-box-shadow: rgba(0, 0, 0, .1) 0 10px 10px;
    -ms-box-shadow: rgba(0, 0, 0, .1) 0 10px 10px;
    -khtml-box-shadow: rgba(0, 0, 0, .1) 0 10px 10px;
    text-align: center;
    background: url('../img/portada.jpg') 100% 45% no-repeat;
    color: white;
}


/* Navbar */

.navbar {
    background-color: white;
    border: none;
    margin-bottom: 0%;
}

.navbar-brand {
    color: #102D50 !important;
    font-size: 25px;
}

.navbar>.container {
    width: 90%;
    margin: 0 auto;
}


/* formulario */

form {
    width: 50%;
    margin: 0 auto !important;
    text-align: center;
    padding: 2%;
}

form>button {
    margin-top: 3%;
}

.help-block {
    position: absolute;
}

hr {
    height: 7px;
    width: 25%;
    border-color: #102D50;
    margin: 0 auto;
    margin-bottom: 1%;
}

select {
    border: 1px solid #E4E4E4 !important;
    border-radius: 3px;
}

a {
    cursor: pointer;
}


/* Table */

.table {
    width: 70%;
    margin: 0 auto;
}

.active {
    background-color: #23527c !important;
    color: white !important;
}

table.dataTable thead th:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f160";
    float: right;
}


/* Footer */

footer {
    background: #EEE;
    font: 14px Arial;
    padding: 50px;
    text-align: center;
    width: 100vw;
}