<!DOCTYPE html>
<html ng-app="ejercicioApp" ng-controller="mainCtrl">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Ejercicio App</title>

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">

    <!-- Datatables -->

    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/jquery.dataTables.min.js"></script>
    <!-- Incluir AngularJS -->
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-datatables.min.js"></script>
    <link rel="stylesheet" href="css/angular-datatables.css">
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">

    <!-- Incluir Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Chart -->
    <script src="js/lib/Chart.min.js"></script>
    <script src="js/lib/angular-chart.min.js"></script>

    <!-- Route -->
    <script src="js/lib/angular-route.js"></script>
    <script src="js/config.js"></script>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <!-- Estilo personalizado -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

</head>

<body>
    <div ng-include="navbarPath"></div>
    <section ng-controller="tableCtrl as data">
        <div ng-include="homePath"></div>
        <div ng-show="data.errorMessage != null" class="alert alert-danger" role="alert">
            {{ data.errorMessage }}
        </div>
        <div ng-include="tablePath"></div>
    </section>

    <footer class="blockquote-footer"><span class="align-middle">@2018 - Devoto Federico </span></footer>
</body>

</html>