<div ng-show="data.showMenu" class="table">
    <ul class="nav nav-pills buttonGroup" id="pills-tab" role="tablist">
        <li class="nav-item" ng-click="data.showtable = true">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#/" role="tab" aria-controls="pills-home" aria-selected="true">Tabla</a>
        </li>
        <li class="nav-item" ng-click="generateChart()">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#/" role="tab" aria-controls="pills-profile" aria-selected="false">Gráfico</a>
        </li>
    </ul>
    <div ng-show="data.showtable">
        <table datatable="" dt-options="data.dtOptions" dt-instance="data.dtInstance" dt-columns="data.dtColumns" class="table table-striped table-bordered"></table>

    </div>

    <div ng-show="!data.showtable">
        <canvas id="line" class="chart chart-line" chart-data="chartData" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
    </div>
</div>