<div class="jumbotron">
    <h1 class="display-4">Bienvenidos al Sitio</h1>
    <p class="lead">Ejercicio App es un sitio web para obtener la distancia y el tiempo recorrido con tu auto</p>
    <hr class="my-4">
</div>

<form name="formulario" ng-submit="obtenerData(formulario)" novalidate="novalidate" class="row">
    <div class="form-group col-md-6 col-sm-6 col-lg-6" ng-class="{'has-error': !formulario.f_inicio.$valid && !formulario.$pristine}">
        <label for="f_inicio">Fecha de Inicio</label>
        <!-- Input Data Inicio -->
        <input type="date" class="form-control" id="f_inicio" aria-describedby="f_inicioHelp" ng-model="formData.ini" name="f_inicio" required="required">
        <!-- Error message -->
        <small ng-show="!formulario.f_inicio.$valid && !formulario.$pristine" id="f_inicioHelp" class="help-block">Este campo es necesario</small>
    </div>
    <div class="form-group col-md-6 col-sm-6 col-lg-6" ng-class="{'has-error': !formulario.f_fin.$valid && !formulario.$pristine}">
        <label for="f_fin">Fecha de Fin</label>
        <!-- Input Data Fin -->
        <input type="date" class="form-control" id="f_fin" aria-describedby="f_finHelp" ng-model="formData.fin" name="f_fin" required="required">
        <!-- Error message -->
        <small ng-show="!formulario.f_fin.$valid && !formulario.$pristine" id="f_finHelp" class="help-block">Este campo es necesario</small>
    </div>
    <button type="submit" class="btn btn-primary">Envíar</button>
</form>

<hr>